@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0; }
  .header button {
    background-color: inherit;
    border: 1px solid #ffffff;
    backdrop-filter: blur(1px);
    border-radius: 5px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.500211px;
    color: #ffffff; }
  .header nav {
    display: flex;
    align-items: center;
    gap: 40px; }
    .header nav a {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      /* identical to box height */
      text-align: right;
      color: rgba(255, 255, 255, 0.7);
      flex: none;
      order: 1;
      flex-grow: 0; }
    .header nav a.active {
      color: #5454d4; }

.main {
  display: flex;
  justify-content: space-between; }
  .main__left {
    width: 50%; }
    .main__left .title {
      margin-top: 137px; }
    .main__left .desc {
      margin-top: 77px;
      max-width: 536px; }
    .main__left button {
      margin-top: 55px;
      margin-bottom: 204px; }
  .main__right {
    width: 50%;
    position: relative; }
    .main__right .icon {
      position: absolute; }
    .main__right .icon1 {
      position: absolute;
      left: 0;
      top: 100px; }
    .main__right .icon2 {
      position: absolute;
      bottom: 0;
      left: 0; }
    .main__right .icon3 {
      position: absolute;
      right: 0;
      top: 0; }
    .main__right .icon4 {
      position: absolute;
      right: 0;
      bottom: 160px; }

.container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto; }

button {
  background: #5454d4;
  border-radius: 4px;
  padding: 17px 32px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  border: none; }

.block {
  background-color: #000000d8; }

.title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 84px;
  /* or 105% */
  color: #ffffff; }

.desc {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 39px;
  /* or 186% */
  letter-spacing: -0.656526px;
  color: rgba(255, 255, 255, 0.7); }
