@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0; }
  .header button {
    background-color: inherit;
    border: 1px solid #ffffff;
    backdrop-filter: blur(1px);
    border-radius: 5px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.500211px;
    color: #ffffff; }
  .header nav {
    display: flex;
    align-items: center;
    gap: 40px; }
    .header nav a {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      /* identical to box height */
      text-align: right;
      color: rgba(255, 255, 255, 0.7);
      flex: none;
      order: 1;
      flex-grow: 0; }
    .header nav a.active {
      color: #5454d4; }

.main {
  display: flex;
  justify-content: space-between; }
  .main__left {
    width: 50%; }
    .main__left .title {
      margin-top: 137px; }
    .main__left .desc {
      margin-top: 77px;
      max-width: 536px; }
    .main__left button {
      margin-top: 55px;
      margin-bottom: 204px; }
  .main__right {
    width: 50%;
    position: relative; }
    .main__right .icon {
      position: absolute; }
    .main__right .icon1 {
      position: absolute;
      left: 0;
      top: 100px; }
    .main__right .icon2 {
      position: absolute;
      bottom: 0;
      left: 0; }
    .main__right .icon3 {
      position: absolute;
      right: 0;
      top: 0; }
    .main__right .icon4 {
      position: absolute;
      right: 0;
      bottom: 160px; }

.why {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px; }
  .why .name {
    width: 50%; }
  .why .subname {
    width: 50%; }

.resons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px; }
  .resons .name {
    max-width: 695px;
    text-align: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 70px;
    /* or 175% */
    text-align: center;
    color: #ffffff;
    padding-bottom: 98px; }
  .resons__flex {
    display: flex;
    justify-content: space-between;
    row-gap: 121px;
    flex-wrap: wrap; }
  .resons__item {
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column; }
    .resons__item .name {
      font-size: 28px;
      padding-bottom: 0; }
    .resons__item .subname {
      font-size: 20px;
      text-align: center; }
    .resons__item img {
      width: 27px !important;
      height: 27px !important; }
  .resons .oval {
    width: 69px;
    height: 69px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .resons .oval1 {
      background: rgba(84, 84, 212, 0.1); }
    .resons .oval2 {
      background: rgba(240, 64, 55, 0.1); }
    .resons .oval3 {
      background: rgba(254, 220, 90, 0.1); }
    .resons .oval4 {
      background: rgba(254, 220, 90, 0.1); }
    .resons .oval5 {
      background: rgba(84, 84, 212, 0.1); }
    .resons .oval6 {
      background: rgba(240, 64, 55, 0.1); }
  .resons .icons {
    padding-top: 170px;
    position: relative;
    width: 100%; }
    .resons .icons_1 {
      position: absolute;
      left: 0;
      transform: rotate(130deg); }
    .resons .icons_2 {
      position: absolute;
      left: 100;
      top: 0; }
    .resons .icons_3 {
      position: absolute;
      right: 0;
      transform: rotate(50deg); }

.container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto; }

button {
  background: #5454d4;
  border-radius: 4px;
  padding: 17px 32px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  border: none; }

.block {
  background-color: #000000d8; }

.title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 84px;
  /* or 105% */
  color: #ffffff; }

.desc {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 39px;
  /* or 186% */
  letter-spacing: -0.656526px;
  color: rgba(255, 255, 255, 0.7); }

.name {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
  /* identical to box height, or 117% */
  color: #FFFFFF; }

.subname {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  /* identical to box height, or 167% */
  color: rgba(255, 255, 255, 0.7); }
